.cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.cookie-options {
    margin-top: 10px;
}

#accept-cookies,
#reject-cookies {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 5px 15px;
    margin: 0 10px;
    cursor: pointer;
}

a {
    color: #fff;
    text-decoration: underline;
}

/* productos*/
.products {
    text-align: center;
    padding: 20px;
}

.products h2 {
    font-size: 24px;
}

.product {
    display: inline-block;
    margin: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}

.product img {
    max-width: 100%;
    height: auto;
}

.product h3 {
    font-size: 20px;
}

.description {
    display: none;
}

.product .toggle-description {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

/* estilo chat buton*/
.chat-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: #007BFF; /* Color de fondo del botón */
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Sombra */
}

/*Estilos generales CARDS*/

.container__card-primary{
    padding-top: 100px;
}

.card__primary{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 20px;
}

.text__card-primary{
    max-width: 800px;
    margin: auto;
}

.text__card-primary p{
    color: var(--color_text-primary);
    letter-spacing: 4px;
    font-size: var(--text_paragraph);
    font-weight: 500;
}

.text__card-primary h1{
    font-size: var(--text_size_title);
    font-weight: 600;
    color: var(--color_text-secundary);
}

.container__box-cardPrimary{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}

.box__card-primary{
    max-width: 350px;
    padding: 60px 40px;
    border: 1px solid #e6e6e6;
    border-radius: 20px;
    margin: 14px;
    transition: all 300ms;
}

.box__card-primary:hover{
    border: 1px solid transparent;
    box-shadow: var(--box_shadow-primary);
}

.box__card-primary h2{
    font-size: var(--text_title_card);
    margin-top: 40px;
    font-weight: 500;
}

.box__card-primary p{
    margin-top: 20px;
}
/*boton regresar*/
.boton-regresar {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF; /* Color de fondo del botón */
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.boton-regresar:hover {
    background-color: #0056b3; /* Color de fondo del botón al pasar el ratón por encima */
}
.boton-inicio {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF; /* Color de fondo del botón */
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.boton-inicio:hover {
    background-color: #0056b3; /* Color de fondo del botón al pasar el ratón por encima */
}




